* {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	min-width: 320px;
	overflow-x: hidden;
}

.wrapper {
	max-width: 1500px;
	padding: 0 20px;
	margin: 0	auto;
}

a {
	text-decoration: none;
}

.title {
	position: relative;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 35px;
	line-height: 30px;
	letter-spacing: 1.4px;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 32px;
}

.title::before {
	position: absolute;
	content: "";
	left: 50%;
	bottom: -21px;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	width: 88px;
	height: 3px;
	background-color: #736588;
}

.sub-title {
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.64px;
	font-size: 16px;
	line-height: 30px;
	color: #a5aabe;
}

.step-title {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.72px;
	color: #fff;
}

.orange {
	color: #ffd670;
}

.bold {
	font-weight: 700;
}

body {
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.65px;
	font-family: 'Roboto Slab', 'Arial', serif;
	color: #cacaca;
}