* {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	min-width: 320px;
}

.wrapper {
	max-width: 1500px;
	padding: 0 20px;
	margin: 0	auto;
}

a {
	text-decoration: none;
}

.title {
	position: relative;
	font-weight: 700;
	font-size: 35px;
	line-height: 30px;
	letter-spacing: 1.2px;
	color: #fff;
}

.title::before {
	position: absolute;
	content: "";
  width: 88px;
  height: 3px;
  background-color: #fff0ca;
}

.sub-title {
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.64px;
	color: #a5aabe;
}

.orange {
	color: #ffd670;
}

body {
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.45px;
	font-family: 'Roboto Slab', 'Arial', serif;
	color: #cacaca;
}