@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Source+Sans+Pro:200,400,600,900&display=swap');

@import url('core.css');
@import url('blocks/header.css');
@import url('blocks/about.css');
@import url('blocks/portfolio.css');
@import url('blocks/blog.css');
@import url('blocks/reviews.css');
@import url('blocks/contacts.css');