.about {
	position: relative;
	background-color: #524664;
	padding: 104px 0 111px;
	color: #c4c0cf;
}

.about .circle {
	position: absolute;
	top: 63.9%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 369px;
	height: 369px;
	box-shadow: inset 0 0 0 5px #ffd670;
	border-radius: 50%;
	z-index: 9;
}

.about .circle::after {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 246px;
	height: 246px;
	border-radius: 50%;
	background-color: #ffd670;
}

.about-promo {
	position: relative;
	max-width: 260px;
	text-align: center;
	margin: 0 auto;
	z-index: 9;
}

.about-promo p:nth-child(3) {
	color: #d0c6db;
}

.about-content {
	width: 100%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-top: 91px;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: #c4c0cf;
}

.about-content .about-who-block {
	position: relative;
	max-width: 510px;
	z-index: 10;
}

.about-who-block .step-title {
	margin-bottom: 30px;
}

.about-who-block p {
	letter-spacing: 0.6px;
}

.about-who-block p:nth-child(4) {
	margin: 30px auto -21px;
}

.about-social {
	width: 175px;
	margin-left: 10px;
}

.about-social a:nth-child(1)::after,
.about-social a:nth-child(3)::after {
	display: none;
}

.about-skills-block {
	width: 34.4%;
}

[class^="disign-inner"] div {
	position: relative;
	background-color: #615474;
	border-radius: 4px;
	overflow: hidden;
	z-index: 9;
}

[class^="disign-inner"] p {
	position: relative;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 43px;
	font-size: 13px;
	font-weight: 600;
	vertical-align: middle;
	letter-spacing: 0.53px;
	color: #fff;
	padding-left: 20px;
	z-index: 10;
}

[class^="disign-inner"] div span {
	position: absolute;
	left: 92%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #4f4b58;
	z-index: 10;
}

[class^="disign-inner"] div:nth-child(2) {
	margin: 14px 0;
}

[class^="disign-inner"] div::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #ffd670;
	z-index: 3;
}

.disign-inner-1 div:nth-child(2)::before {
	width: 81.3%;
}

.disign-inner-1 .p-2 {
	left: 75%;
}

.disign-inner-1 div:nth-child(3)::before {
	width: 43%;
}

.disign-inner-1 .p-3 {
	left: 36.4%;
}

.disign-inner-2 div:nth-child(1)::before {
	width: 83.3%;
}

.disign-inner-2 .p-1 {
	left: 76%;
}

.disign-inner-2 div:nth-child(2)::before {
	width: 65.5%;
}

.disign-inner-2 .p-2 {
	left: 59%;
}

.disign-inner-2 div:nth-child(3)::before {
	width: 49.9%;
}

.disign-inner-2 .p-3 {
	left: 43.2%;
}

.disign-block .d-s-title {
	margin: 25px 0 17px;
}

.coding-block .c-s-title {
	margin: 19px 0 18px;
}

@media (max-width: 1310px) {
	.about-content {
		-moz-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		margin-top: 91px;
	}
	.about-content .about-who-block {
		max-width: 90%;
		text-align: center;
		margin: 0 auto;
	}
	.about-social {
		margin-left: 0;
		margin: 0 auto;
	}
	.about-who-block p:nth-child(4) {
		margin: 30px auto 30px;
	}
	.about .circle {
		opacity: 0.2;
	}
	.about-skills-block {
		width: 70%;
		margin: 0 auto;
	}
	.about-skills-block .step-title {
		width: 120px;
		margin: 0 auto;
		margin-top: 60px;
		text-indent: 10px;
	}
}

@media (max-width: 700px) {
	.about-skills-block {
		width: 90%;
	}
}

@media (max-width: 510px) {
	.about-skills-block {
		width: 90%;
	}
	[class^="disign-inner"] div span {
		left: 92% !important;
		color: #fff;
	}
}

@media (max-width: 370px) {
	.about .circle {
		position: absolute;
		top: 63.9%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 240px;
		max-height: 240px;
		box-shadow: inset 0 0 0 5px #ffd670;
		border-radius: 50%;
		z-index: 9;
	}

	.about .circle::after {
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 170px;
		height: 170px;
		border-radius: 50%;
		background-color: #ffd670;
	}

}