.blog {
	padding: 86px 0 100px;
}

.blog-wrap {
	max-width: 1005px;
}

.blog-top {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	        justify-content: space-between;
}

.blog-promo {
	position: relative;
	max-width: 260px;
	text-align: center;
	margin: 0 auto;
	z-index: 9;
}

.blog-promo .title {
	color: #5b6074;
	margin-bottom: 33px;
}

.blog-promo .title::before {
	background-color: #dbdde5;
	bottom: -22px;
}

.blog-top {
	margin-top: 93px;
}

/* left side */

.blog-top-left {
	flex-basis: 66.8%;
	margin-right: 30px;
	color: #898d9d;
}

.blog-top-aside {
	flex-basis: calc(100% - 66.8% - 30px);
}

.left-block-title-1 {
	font-size: 24px;
	line-height: 37px;
	font-weight: 700;
	letter-spacing: 0.94px;
	color: #373c4f;
	margin: 11px 0 9px;
}

.blog-top-left .date {
	text-transform: uppercase;
	font-size: 11px;
	font-style: italic;
	letter-spacing: 0.44px;
	color: #c4c0cf;
	margin-bottom: 9px;
}

.blog-top-text {
	font-weight: 300;
}

.blog-top-text p:nth-child(1) {
	margin: 5px 0 30px;
}

.blog-top-tags {
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	padding: 20px 0 22px;
	margin: 24px 0 40px;
}

.blog-top-tags p {
	text-transform: uppercase;
}

.blog-top-tags p a {
	text-transform: none;
	font-size: 13px;
	font-weight: 300;
	line-height: 30px;
	color: #898d9d;
}

.blog-top-tags p a:hover {
	color: #ffd670;
}

.blog-top-tags p a:active {
	color: #898d9d;
}

.comments-blog p:nth-child(1) {
	text-transform: uppercase;
}

.comment {
	width: 100%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	border-bottom: 1px solid #f4f4f4;
	padding: 42px 0 32px;
}

.comment .com-photo {
	margin-right: 20px;
}

.comment .comment-txt {
	max-width: 590px;
	margin-top: -9px;
}

.comment .comment-txt p:nth-child(1) {
	text-transform: capitalize;
	color: #ffdb83;
	font-size: 13px;
	font-weight: 700;
	line-height: 30px;
} 

.comment .comment-txt p:nth-child(2) {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 300;
	line-height: 22px;
	color: #c4c0cf;
	margin-bottom: 10px;
}

.comment .comment-txt .orange {
	text-transform: uppercase;
}

.send-comment-block p:nth-child(2),
.comment .comment-txt p:nth-child(3) {
	font-size: 13px;
	line-height: 25px;
	letter-spacing: 0.52px;
	font-weight: 300;
	color: #898d9d;
} 

.comments-blog .com-2 {
	width: 86.6%;
	padding-left: 90px;
}

/* send block */
.send-comment-block {
	margin-top: 63px;
}


.send-comment-block p:nth-child(1) {
	text-transform: uppercase;
}

.send-comment-block p:nth-child(2) {
	margin: 13px 0 35px;
}

.send-comment-block form {
	width: 100%;
}

.send-comment-block .first-line {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	        justify-content: space-between;	
}

.send-comment-block form input {
	position: relative;
	width: 48.2%;
	height: 58px;
}

.send-comment-block form .star {
	position: absolute;
	color: #ffd670;
}

.send-comment-block form textarea {
	position: relative;
	width: 100%;
	height: 192px;
	resize: none;
	margin-top: 20px;
	padding-top: 16px;
}

.send-comment-block form input,
.send-comment-block form textarea {
	border:none;
	outline: none;
	background-color: #f8f8f8;
	border-radius: 5px;
	text-indent: 30px;
	color: #cacaca;
}

.send-comment-block form input::-webkit-input-placeholder, .send-comment-block form textarea::-webkit-input-placeholder {
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
	font-family: 'Roboto Slab', 'Arial', serif;
	color: #cacaca;
}

.send-comment-block form input::-moz-placeholder, .send-comment-block form textarea::-moz-placeholder {
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
	font-family: 'Roboto Slab', 'Arial', serif;
	color: #cacaca;
}

.send-comment-block form input:-ms-input-placeholder, .send-comment-block form textarea:-ms-input-placeholder {
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
	font-family: 'Roboto Slab', 'Arial', serif;
	color: #cacaca;
}

.send-comment-block form input::-ms-input-placeholder, .send-comment-block form textarea::-ms-input-placeholder {
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
	font-family: 'Roboto Slab', 'Arial', serif;
	color: #cacaca;
}

.send-comment-block form input::placeholder,
.send-comment-block form textarea::placeholder {
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
	font-family: 'Roboto Slab', 'Arial', serif;
	color: #cacaca;
}

.send-comment-block form input:focus::-webkit-input-placeholder, .send-comment-block form textarea:focus::-webkit-input-placeholder {
	font-size: 0;
}

.send-comment-block form input:focus::-moz-placeholder, .send-comment-block form textarea:focus::-moz-placeholder {
	font-size: 0;
}

.send-comment-block form input:focus:-ms-input-placeholder, .send-comment-block form textarea:focus:-ms-input-placeholder {
	font-size: 0;
}

.send-comment-block form input:focus::-ms-input-placeholder, .send-comment-block form textarea:focus::-ms-input-placeholder {
	font-size: 0;
}

.send-comment-block form input:focus::placeholder,
.send-comment-block form textarea:focus::placeholder {
	font-size: 0;
} 

.send-comment-block form p {
	font-size: 13px;
	line-height: 25px;
	font-weight: 300;
	letter-spacing: 0.52px;
	color: #cacaca;
	margin: 4px 0 29px;
}

.send-comment-block form .send-btn {
	width: 191px;
	height: 56px;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Roboto Slab', 'Arial', serif;
	text-indent: 0;
	border-radius: 3px;
	background-color: #ffd670;
	color: #fff;
}

.send-comment-block form .send-btn:hover {
	background-color: #eee;
	color: #cacaca;
}

.send-comment-block form .send-btn:active {
	-webkit-transform: scale(0.98);
	        transform: scale(0.98);
}

.blog-rigth-title {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.52px; 
	color: #898d9d;
}

.blog-top-aside form label {
	position: relative;
	top: -13px;
}

.blog-top-aside form .search-wrap {
	position: relative;
	margin-top: 13px;
}

.blog-top-aside form .search-wrap i {
	position: absolute;
	right: 19px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	color: #ffd670;
	z-index: 10;
}

.blog-top-aside form input {
	width: 299px;
	height: 58px;
	background-color: #f8f8f8;
	border: none;
	outline: none;
	border-radius: 5px;
	text-indent: 5px;
}  

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.top-aside-categories .blog-rigth-title {
	margin: 47px 0 8px;
} 

.top-aside-archives a,
.top-aside-categories a {
	position: relative;
	text-transform: uppercase;
	display: block;
	font-size: 13px;
	line-height: 49px;
	letter-spacing: 0.52px; 
	color: #bec0c9;
	text-indent: 30px;
}

.top-aside-archives a:not(:last-child)::before,
.top-aside-categories a:not(:last-child)::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #f8f8f8;
}

.top-aside-archives a:hover,
.top-aside-categories a:hover {
	color: #ffd670;
}

.top-aside-archives a:active,
.top-aside-categories a:active {
	font-size: 12.5px;
	color: #eee;
}

.top-aside-archives {
	margin-top: 29px;
}

/* Slider */

.blog-slider {
	position: relative;
	width: 1500px;
	margin: 157px auto 74px;
}

.blog-slider input {
	display: none;
}

.blog-slider-inner {
	overflow-x: hidden;
}

.blog-slides {
	background-color: #f3f3f3;
	border-radius: 7px 7px 7px 7px;
}

.slider-image {
	width: 347px;
	height: 295px;
	background-color: #ffd670;
	border-radius: 7px 7px 0 0;
}

.blog-slider-slides {
	width: 200%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.blog-slider-slides .blog-slides {
	width: 347px;
}

.blog-slides .slide-title {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.56px;
	font-weight: 700;
	color: #373c4f;
	margin: 31px 28px 17px;
}

#blog-sl-btn-1:checked ~ .blog-slider-controls label:nth-child(3), 
#blog-sl-btn-2:checked ~ .blog-slider-controls label:nth-child(1), 
#blog-sl-btn-3:checked ~ .blog-slider-controls label:nth-child(2) {
	position: absolute;
	display: block;
	width: 63px;
	height: 78px;
	left: -50px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	border-radius: 0 5px 5px 0;
	background-repeat: no-repeat;
	background-position: 40% 50%;
	background-image: url("../../img/b-arrow.png");
	z-index: 10;
}

#blog-sl-btn-1:checked ~ .blog-slider-controls label:nth-child(2), 
#blog-sl-btn-2:checked ~ .blog-slider-controls label:nth-child(3), 
#blog-sl-btn-3:checked ~ .blog-slider-controls label:nth-child(1) {
	position: absolute;
	display: block;
	width: 63px;
	height: 78px;
	right: -50px;
	top: 42.3%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	border-radius: 0 5px 5px 0;
	background-repeat: no-repeat;
	background-position: 40% 50%;
	background-image: url("../../img/b-arrow.png");
	-webkit-transform: scaleX(-1);
	        transform: scaleX(-1);
	z-index: 10;
}

/* main controls */
#blog-sl-btn-1:checked ~ .blog-slider-inner .blog-slider-slides {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
} 
#blog-sl-btn-2:checked ~ .blog-slider-inner .blog-slider-slides {
	-webkit-transform: translateX(-377px);
	        transform: translateX(-377px);
} 
#blog-sl-btn-3:checked ~ .blog-slider-inner .blog-slider-slides {
	-webkit-transform: translateX(-754px);
	        transform: translateX(-754px);
}

.blog-slider-btn-slick {
	position: absolute;
	bottom: -74px;
	width: 1500px;
	height: 19px;
	background-color: #f3f3f3;
	border-radius: 19px;
	margin: 0 auto;
	z-index: 10;
}

.blog-slider-btn-slick .blog-btn {
	position: absolute;
	width: 530px;
	height: 19px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	border-radius: 19px;
	background-color: #ffd670;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

/* slider bar controls */
#blog-sl-btn-1:checked ~ .blog-slider-btn-slick .blog-btn {
	-webkit-transform: translateX(-750px);
	        transform: translateX(-750px);
} 
#blog-sl-btn-2:checked ~ .blog-slider-btn-slick .blog-btn {
	-webkit-transform: translateX(-270px);
	        transform: translateX(-270px);
} 
#blog-sl-btn-3:checked ~ .blog-slider-btn-slick .blog-btn {
	-webkit-transform: translateX(219px);
	        transform: translateX(219px);
}

.blog-slides p {
	margin: 0 28px;
}

.blog-slides p:nth-of-type(2) {
	font-style: italic;
	font-weight: 300;
	font-size: 13px;
	line-height: 22px;
	letter-spacing: 0.52px;
	color: #898d9d;
}

.blog-slides a {
	display: inline-block;
	font-size: 13px;
	line-height: 22px;
	letter-spacing: 0.52px;
	color: #ffd670;
	margin: 17px 0 29px 28px;
}
