.header {
	background-color: #5c5766;
}

.header-nav {
	width: 63%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin: 0 auto;
}

.header-nav a {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
	line-height: 143.5px;
	letter-spacing: 1.5px;
	color: #fff;
}

.header-nav a:hover {
	color: #ffd670;
}

.header-nav a:active {
	-webkit-transform: scale(0.98);
	transform: scale(0.98);
	color: #ffd670;
}

.header-promo {
	text-align: center;
	color: #fff;
	margin-top: 76px;
	padding-bottom: 122px;
}

.header-promo-text p:nth-child(1) {
	text-transform: uppercase;
	font-weight: 400;
	margin-top: 37px;
}

.header-promo-text p:nth-child(1):before {
	display: none;
}

.header-promo-text p:nth-child(2) {
	font-weight: 300;
	font-size: 66px;
	letter-spacing: 2.4px;
	margin-top: 42px;
}

.header-promo-text p:nth-child(2) span {
	font-weight: 700;
}

.header-promo-text p:nth-child(3) {
	font-weight: 300;
	font-size: 22px;
	letter-spacing: 0.88px;
	margin-top: 49px;
}

.social {
	width: 200px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 52px;
}

.social a {
	position: relative;
	display: inline-block;
	font-size: 18px;
	color: #c4c0cf;
}

.social a::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 48px;
	height: 48px;
	border-radius: 50%;
	box-shadow: inset 0 0 0 3px #c4c0cf;
}

.social a:nth-child(1) {
	font-size: 24px;
}

.social a:nth-child(3)::after,
.social a:nth-child(1)::after {
	position: absolute;
	content: "";
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: -99px;
	width: 87px;
	height: 2px;
	background-color: #c4c0cf;
}

.social a:nth-child(3)::after {
	left: 34px;
}

.social a:nth-child(2) {
	font-size: 26px;
}

.social a:hover {
	color: #fff;
}

.social a:hover:before  {
	box-shadow: inset 0 0 0 3px #fff;
}

.social a:hover:after {
	background-color: #fff;
}

.header-promo-state {
	width: 69%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 168px;
}

.header-promo-state p {
	white-space: nowrap;
	font-weight: 700;
	font-size: 18px;	
	letter-spacing: 4.32px;
}

.header-promo-state p span {
	text-transform: uppercase;
}

@media (max-width: 1120px) {
	.header-promo-state {
		width: 98%;
	}
	.header-nav {
		width: 98%;
	}
}

@media (max-width: 768px) {
	.header-promo-state {
		-moz-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
	.header-promo-text p:nth-child(2) {
		font-size: 66px;
		line-height: 68px;
	}
}

@media (max-width: 480px) {
	.social a::after {
		display: none;
	}
	.header-promo-state p {
		font-size: 16px;	
	}
}

@media (max-height: 680px) {
	.header-promo {
		margin-top: auto;
	}
	.header-nav a {
		font-size: 14px;
		line-height: 80px;
	}
	.header-promo-state {
		margin-top: 60px;
	}
}