.portfolio {
	background-color: #ffd670;
	padding: 86px 0 100px;
	color: #fff;
}

.portfolio-promo {
	text-align: center;
}

.portfolio-promo .sub-title {
	color: #fff;
}

.portfolio-promo .title::before {
	background-color: #fff;
}

.portfolio-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 115px;
}

/* left-block */

.portfolio-left-block {
	max-width: 480px;
}

[class^="left-block-title-"] {
	text-transform: uppercase;
	font-family: 'Roboto Slab', 'Arial', serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.64px;
	color: #fff1ce;
}

.left-block-title-1 {
	margin-top: -10px;
}

.portfolio-left-block p:nth-child(2) {
	position: relative;
	font-family: 'Roboto Slab', 'Arial', serif;
	font-weight: 700;
	font-size: 23px;
	line-height: 30px;
	letter-spacing: 0.92px;
	margin: 15px 0 36px;
}

.portfolio-left-block .site::before,
.portfolio-left-block p:nth-child(2)::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.50);
	bottom: -25px;
}

.portfolio-left-block .list {
	font-family: 'Roboto Slab', 'Arial', serif;
	font-weight: 300;
	margin: 14px 0 0 56px;
}

.portfolio-content .list li {
	position: relative;
	list-style-type: none;
}

.portfolio-content .site li:before,
.portfolio-content .list li:before {
	position: absolute;
	content: "";
	left: -25px;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
	height: 10px;
	background-image: url("../../img/rhomb-ul.png")
}

.portfolio-left-block p:nth-child(5) {
	position: relative;
	max-width: 477px; 
	font-family: 'Roboto Slab', 'Arial', serif;
	font-weight: 300;
	margin: 14px 0 49px;
}

.portfolio-left-block p:nth-child(5)::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.50);
	bottom: -29px;
}

.portfolio-left-block ul a {
	font-family: 'Roboto Slab', 'Arial', serif;
	font-size: 16px;
	margin: 14px 0 0 56px;
	color: #fff;
}

.portfolio-left-block .site {
	position: relative;
	margin: 15px 0 46px;
}

.portfolio-left-block .site::before {
	position: absolute;
	content: "";
	bottom: -26px;
}

.portfolio-left-block .site li:hover a {
	color: #5c5766;
	text-decoration: underline;
}

.portfolio-left-block .site li {
	position: relative;
	list-style-type: none;
}

.portfolio-content .site li:before {
	position: absolute;
	content: "";
	left: 31px;
	top: 50%;
	transform: translateY(-50%);
}

.left-block-title-4 {
	margin-bottom: 11px;
}

.tags-links a {
	font-family: 'Roboto Slab', 'Arial', serif;
	font-weight: 300;
	color: #fff;
}

.tags-links a:hover {
	color: #5c5766;
	text-decoration: underline;
}
/* slider */

.portfolio-slider {
	position: relative;
	width: 970px;
}

.portfolio-slider input {
	display: none;
}

.portfolio-slider-slides {
	width: 300%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	transition: all 1s ease;
}

.portfolio-slider-slides .slides {
	position: relative;
	width: 970px;
	height: 683px;
	background-color: #5c5766;
	/* background-image: url("../../img/Layer 48.png"); */
}

[class^="cross-"] {
	position: absolute;
	top: 22px;
	right: 17px;
	width: 18px;
	height: 18px;
	background-image: url("../../img/cross.png");
}

.portfolio-slider-inner {
	overflow-x: hidden; 
}

/* left */
#arrow-1:checked ~ .portfolio-slider-controls label:nth-child(3), 
#arrow-2:checked ~ .portfolio-slider-controls label:nth-child(1), 
#arrow-3:checked ~ .portfolio-slider-controls label:nth-child(2) {
	position: absolute;
	display: block;
	width: 63px;
	height: 78px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 0 5px 5px 0;
	background-color: rgba(255, 214, 112, 0.65);
	background-repeat: no-repeat;
	background-position: 40% 50%;
	background-image: url("../../img/s-arrow.png");
	z-index: 10;
} 

/* right */
#arrow-1:checked ~ .portfolio-slider-controls label:nth-child(2), 
#arrow-2:checked ~ .portfolio-slider-controls label:nth-child(3), 
#arrow-3:checked ~ .portfolio-slider-controls label:nth-child(1) {
	position: absolute;
	display: block;
	width: 63px;
	height: 78px;
	right: 0;
	top: 44.3%;
	transform: translateY(-50%);
	border-radius: 0 5px 5px 0;
	background-color: rgba(255, 214, 112, 0.65);
	background-repeat: no-repeat;
	background-position: 40% 50%;
	background-image: url("../../img/s-arrow.png");
	transform: scaleX(-1);
	z-index: 10;
} 

#arrow-1:checked ~ .portfolio-slider-inner .portfolio-slider-slides {
	transform: translateX(0);
}

#arrow-2:checked ~ .portfolio-slider-inner .portfolio-slider-slides {
	transform: translateX(-970px);
} 

#arrow-3:checked ~ .portfolio-slider-inner .portfolio-slider-slides {
	transform: translateX(-1940px);
}

/* portfolio bottom */

.portfolio-nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	max-width: 635px;
	margin: 61px auto;
}

.portfolio-nav a {
	position: relative;
	outline: none;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 30px;
	letter-spacing: 0.48px;
	color: #fff;
	padding: 4px 17px;
}

.portfolio-nav a:hover {
	box-shadow: inset 0 0 1px 1px #fff;
}

.portfolio-nav a:focus {
	box-shadow: inset 0 0 1px 1px #fff;
}

.portfolio-nav a:active {
	color: #eee;
	box-shadow: inset 0 0 1px 1px #eee;
}

.portfolio-nav a:active::before {
	background-color: #eee;
}

.rhombs {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.rhombs [class^="rhomb-"] {
	position: relative;
	width: 365px;
	height: 342px;
}

.rhombs [class^="rhomb-"]::before  {
	position: absolute;
	content: "";
	width: 250px;
	height: 250px;
	background-color: #fff;
	border-radius: 15px;
	left: 50%;
	transform-origin: 0 0; 
	transform: rotate(45deg);
}

.rhombs .inner-rhomb {
	position: absolute;
	top: 61%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 240px;
	text-align: center;
	z-index: 10;
	display: none;
}

.rhombs .inner-rhomb p:nth-child(1) {
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.64px; 
	margin-bottom: 5px;
}

.rhombs .inner-rhomb p:nth-child(2) {
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.52px;
	margin-bottom: 15px; 
}

.rhombs [class^="rhomb-"]:hover::before {
	background-color: #5c5766;
}  

.rhombs [class^="rhomb-"]:hover .inner-rhomb {
	display: block;
}

.rhombs [class^="rhomb-"]:nth-child(n+5) {
	margin-top: -95px;
}

.rhombs [class^="rhomb-"] .plus_btn {
	position: relative;
	display: block;
	width: 65px;
	height: 65px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	background-color: rgba(225, 68, 20, 0.72);
}

.rhombs [class^="rhomb-"] .plus_btn::after,
.rhombs [class^="rhomb-"] .plus_btn::before {
	position: absolute;
	content: "";
	width: 23px;
	height: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;	
}

.rhombs [class^="rhomb-"] .plus_btn::after {
	width: 5px;
	height: 23px;
}

@media (max-width: 1490px) {
	.portfolio-content {
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
		margin-top: 60px;
	}
	.portfolio-slider {
		left: 50%;
		transform: translateX(-50%);
		margin-bottom: 60px;
	}
}